<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock title %}
			| ETS2</title>
		<link rel="stylesheet" href="style/style.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	</head>

	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="index-en.php"><img src="images/en.jpg" alt="anglais"></a>
					</li>
					<li>
						<a href="index.php">
							<i class="bi bi-house"></i>
							Accueil</a>
					</li>
					<li class="dropdown">
						<i class="bi bi-boxes"></i>
						DLC
						<ul class="dropdown-content">
							<li>
								<a href="dlc_accessory.php">Accessoires</a>
							</li>
							<li>
								<a href="dlc_map.php">Cartes</a>
							</li>
							<li>
								<a href="dlc_cargo.php">Livraison</a>
							</li>
							<li>
								<a href="dlc_paint.php">Peintures</a>
							</li>
							<li>
								<a href="dlc_trailer.php">Remorques</a>
							</li>

						</ul>
					</li>
					<li class="dropdown">
						<i class="bi bi-truck"></i>
						Camions
						<ul class="dropdown-content">
							<li>
								<a href="truck_DAF.php">DAF</a>
							</li>
							<li>
								<a href="truck_Iveco.php">Iveco</a>
							</li>
							<li>
								<a href="truck_MAN.php">MAN</a>
							</li>
							<li>
								<a href="truck_MB.php">Mercedes Benz</a>
							</li>
							<li>
								<a href="truck_Renault.php">Renault Trucks</a>
							</li>
							<li>
								<a href="truck_Scania.php">Scania</a>
							</li>
							<li>
								<a href="truck_Volvo.php">Volvo</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="gameplay.php">
							<i class="bi bi-controller"></i>
							Le Gameplay</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<a class="up" href="#">
				<i class="bi bi-arrow-up-circle"></i>
			</a>

			{% block main %}{% endblock %}
		</main>
		<footer>
			{% block footer %}
				<div class="copyright">
					<p>© CLAD Corentin - SAÉ 105</p>
					<p>Dans le cadre d'un projet universitaire</p>
				</div>
				<nav class="nav_footer">
					<ul>
						<li><a href="about.php"><i class="bi bi-info-circle"></i>À propos</a></li>
						<li><a href="contact.php"><i class="bi bi-telephone"></i>Contact</a></li>
					</ul>
				</nav>

			{% endblock footer %}
		</footer>
	</body>


</html>
