{% extends "base-en.twig" %}

{% block main %}
<form>
    <div class="form-group">
        <label for="nom">Name:</label>
        <input type="text" id="nom" name="nom" required>
    </div>

    <div class="form-group">
        <label for="prenom">First Name:</label>
        <input type="text" id="prenom" name="prenom" required>
    </div>

    <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="telephone">Phone Number:</label>
        <input type="tel" id="telephone" name="telephone" required>
    </div>

    <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="6" required></textarea>
    </div>

    <button type="submit"><i class="bi bi-send"></i> SEND</button>
</form>
{% endblock main %}

{% block title %}Contact{% endblock title %}
